@use '@/theme/mixins' as *;

.section {
  min-height: 30vh;
  color: black;
  font-size: var(--fs-72);
  z-index: 2;
  overflow: hidden;
  background-color: var(--color-gray90);
  padding: 0.75em 0;
  @include media('<m') {
    padding: 0.75em 0;
  }
}
.header {
  display: flex;
  margin-bottom: 0.8em;
  padding: 0 1em;
  @include media('<m') {
    padding: 0 0.5em;
    margin-bottom: 0.6em;
  }
  @include media('<s') {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.4em;
  }
  .heading {
    font-size: var(--fs-36);
    text-transform: uppercase;
    color: black;
    margin: 0;
    @include media('<s') {
      width: 100%;
      text-align: center;
    }
  }
  .headerLine {
    border-bottom: 1px solid black;
    flex: auto;
    margin: 0 0.1em;
    @include media('<s') {
      width: 100%;
      display: flex;
      margin-top: 0.1em;
      margin-left: 0;
      margin-right: 0;
    }
  }
  .archiveButton {
    font-size: var(--fs-16);
    text-transform: uppercase;
    color: black;
    display: inline-flex;
    font-weight: 400;
    text-decoration: none;
    align-items: flex-end;
    @include media('<ls') {
      padding-top: 0.5em;
    }
    @include media('<m') {
      padding-top: 0.1em;
    }
    @include media('<s') {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin-top: 0.5em;
    }
    @media (hover: hover) {
      &:hover {
        color: var(--color-goldShade3);
      }
    }
  }
}
.body {
  border-radius: 0.2em;
  background-color: white;
  padding: 0.4em;
  margin: 0 1em;
  display: flex;
  gap: 1em;
  @include media('<m') {
    margin: 0 0.5em;
    padding: 0.3em;
    gap: 0.5em;
  }
  @include media('<s') {
    display: block;
  }
  .bodyImageWrapper {
    width: 7em;
    flex: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    border-radius: 0.2em;
    @include media('<m') {
      width: 5em;
      align-items: flex-start;
    }
    @include media('<s') {
      width: 100%;
    }
    .bodyImage {
      border-radius: 0.2em;
    }
  }
  .bodyContainer {
    display: flex;
    flex-direction: column;
    @include media('<s') {
      padding: 0.3em;
    }
    .bodyLabel {
      font-size: var(--fs-15);
      color: var(--color-gray40);
      font-weight: 500;
      text-transform: uppercase;
      margin-top: 1em;
      @include media('<s') {
        display: none;
      }
    }
    .bodyHeading {
      font-size: var(--fs-24);
      color: black;
      margin: 0.5em 0;
      line-height: 1.25;
      font-weight: 400;
      transition: all 300ms linear;
      em {
        font-style: normal;
        color: var(--color-goldShade1);
      }
      @include media('<s') {
        margin-bottom: 0.5em;
      }
    }
    .bodyText {
      position: relative;
      font-size: var(--fs-16);
      height: 11em;
      color: black;
      overflow: hidden;
      > p {
        font-weight: 400;
        line-height: 1.5;
        margin: 0 0 0.5em;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 6em;

        background: linear-gradient(to top, #fff, transparent);
      }
    }
    .date {
      font-size: var(--fs-16);
      font-weight: 500;
      color: var(--color-gray40);
      padding-top: 1.25em;
      border-top: 2px solid var(--color-gray75);
    }
  }
}
.button {
  display: flex;
  align-items: center;
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1.25;
  font-weight: 500;
  padding: 0.75em 1.25em 0.875em;
  margin-top: 1em;
  position: relative;
  border-radius: 2em;
  color: #fff;
  background: linear-gradient(
    to right,
    var(--color-goldTint1),
    var(--color-gold),
    var(--color-goldShade2)
  );
  font-size: var(--fs-16);
  background-position: 100% 50%;
  background-size: 200%;
  transition: all 300ms ease;
  // transition:
  //   color 300ms ease,
  //   background-size 500ms ease;
  @media (hover: hover) {
    &:hover {
      background-position: 0% 50%;
      color: #000;
    }
  }
}
.slider {
  padding: 1em 0 0.5em;
  .slide {
    cursor: pointer;
    color: black;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: white;
    border-radius: 0.3em;
    .slideImageWrapper {
      width: 100%;
      max-height: 4em;
      left: 0;
      bottom: 10%;
      display: flex;
      justify-content: center;
      .slideImage {
        width: 100%;
        border-radius: 0.3em;
        margin: 0.3em;
      }
    }
    .slideBody {
      padding: 0.2em 0.3em 0.3em 0.3em;
      display: flex;
      flex-direction: column;
      flex: auto;
      height: 1em;
      h2 {
        font-size: var(--fs-21);
        font-weight: 400;
        line-height: 1.25;
        margin: 0;
        flex: auto;
        transition: all 300ms linear;
      }
      .date {
        font-size: var(--fs-16);
        font-weight: 500;
        color: var(--color-gray40);
        padding-top: 1.25em;
        border-top: 2px solid var(--color-gray75);
      }
    }
    &:hover {
      .slideBody h2 {
        color: var(--color-goldShade1);
      }
    }
  }
}
