@use '@/theme/mixins' as *;

.container {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 12;
  overflow: hidden;
}

.inner {
  position: relative;
  background: linear-gradient(
    to right,
    var(--color-goldShade1),
    var(--color-gold),
    var(--color-goldTint1),
    var(--color-goldTint2)
  );
  display: grid;
  transition: transform 300ms ease;
  [data-ready='true'][data-scrolled-up='false'] & {
    transform: translate3d(0, -100%, 0);
  }
  [data-ready='true'][data-scrolled-up='true'] & {
    transform: translate3d(0, 0, 0);
  }
}

.text {
  position: relative;
  font-size: var(--fs-16);
  margin: 0.5em var(--gtr-36);
  justify-self: center;
  align-self: center;
  text-align: center;
  color: #000;
  line-height: 1.25;
  p {
    font-weight: 400;
    display: inline;
    line-height: inherit;
  }
}
.divider {
  display: inline-block;
  margin: 0 0.75em;
  font-weight: 100;
  &:before {
    content: '|';
  }
}
.link {
  display: inline-flex;
  font-weight: 600;
  color: #000;
  text-decoration: none;
  padding-right: 1em;
  @media (hover: hover) {
    &:hover {
      color: var(--color-goldShade3);
    }
  }
}
