.button {
  display: block;
  width: fit-content;
  font-size: var(--fs-14);
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  line-height: 1.25;
  font-weight: 500;
  padding: 0.5em 0.5em 0.75em;
  margin-left: -0.5em;
  position: relative;
  transition: color 300ms ease;
  color: #fff;
  @media (hover: hover) {
    &:hover {
      color: #ffffffcc;
    }
  }
  &[data-color='GOLD_LIGHT'] {
    color: var(--color-gold);
    @media (hover: hover) {
      &:hover {
        color: var(--color-goldTint2);
      }
    }
  }
  &[data-color='GOLD_DARK'] {
    color: var(--color-goldShade1);
    @media (hover: hover) {
      &:hover {
        color: var(--color-goldShade2);
      }
    }
  }
  &[data-style='OUTLINE'] {
    margin-left: 0;
    outline: 1px solid currentColor;
    padding: 0.5em 0.75em 0.75em 1em;
  }
  &[data-style='FILL'] {
    background: var(--color-goldShade1);
    @media (hover: hover) {
      &:hover {
        background: var(--color-goldShade2);
        color: #fff;
      }
    }
    &[data-color='WHITE'] {
      color: var(--color-goldShade1);
      background: #fff;
      @media (hover: hover) {
        &:hover {
          background: #ffffffcc;
          color: var(--color-goldShade1);
        }
      }
    }
    padding: 0.5em 0.75em 0.75em 1em;
    transition:
      color 300ms ease,
      background-color 300ms ease;
  }

  svg {
    font-size: 125%;
    transform: translate3D(0, 15%, 0);
    transition: transform 250ms ease-in-out;
  }
  &[data-direction='RIGHT'] {
    svg {
      margin-left: 0.25em;
    }
    @media (hover: hover) {
      &:hover {
        svg {
          transform: translate3d(20%, 15%, 0);
        }
      }
    }
  }
  &[data-direction='LEFT'] {
    svg {
      margin-right: 0.25em;
    }
    @media (hover: hover) {
      &:hover {
        svg {
          transform: translate3d(-20%, 15%, 0);
        }
      }
    }
  }
}
