@use '@/theme/mixins' as *;

.intro {
  @include base-grid;
  background: #fff;
  padding: var(--gtr-108) 0 0;
  h1 {
    grid-column: 2 / -2;
    font-size: var(--fs-84);
    color: var(--color-goldShade1);
    margin: 0;
  }
  p {
    grid-column: 2 / -2;
    max-width: 72ch;
    color: #555;
    font-size: var(--fs-21);
  }
}

.coaches {
  background: white;
  display: grid;
  position: relative;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: var(--gtr-12);
  padding: var(--gtr-36) var(--gtr-36) calc(var(--gtr-108) + 5vw);
  @include media('<ml') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<ms') {
    grid-template-columns: repeat(2, 1fr);
  }
}
