@use '@/theme/mixins' as *;

.column {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(2.5rem + 4vw);
  @media (prefers-reduced-motion) {
    transform: none !important;
  }
  @include media('<s') {
    transform: translate3d(
      0,
      calc(-1px * var(--translate-factor, 100)),
      0
    ) !important;
  }
}
