@use '@/theme/mixins' as *;
.container {
  position: relative;
  display: grid;
  margin: 0;
  padding: 0;
  font-size: var(--fs-21);
  width: calc(var(--page-width, 100vw) - 2 * var(--margin));
  max-width: 100ch;
  clip-path: inset(0 0 0 0);
  @include aspect-ratio(var(--aspect-ratio));
  [data-is-single='true'] & {
    aspect-ratio: auto;
  }
  &[data-image-orientation='PORTRAIT'] {
    width: auto;
    height: 40em;
    max-width: calc(var(--page-width, 100vw) - 2 * var(--margin));
  }
  [data-variant='CONTENT_SECTION'] & {
    width: var(--container-width);
    height: 100%;
    margin: 0;
  }
}
.image {
  height: 100%;
  [data-is-single='true'] & {
    background-color: transparent;
  }
  opacity: 0.125;
  transition: opacity 500ms ease;
  .container[data-in-view='true'] & {
    opacity: 1;
  }
}
.caption {
  position: relative;
  justify-self: flex-end;
  z-index: 2;
  line-height: 1.25;
  font-family: var(--ff-sans-serif);
  font-style: italic;
  font-size: var(--fs-16);
  opacity: 0;
  transition:
    opacity 1200ms ease,
    transform 900ms var(--bezier-ease-out);
  margin: 0;
  padding: 0.5em;
  color: var(--caption-color);
  background: var(--caption-bg-color, var(--color-gray90));
  max-width: fit-content;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  transform: translate3d(-6rem, 0, 0);
  margin-bottom: -0.75rem;
  .container[data-in-view='true'] & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  [data-variant='CONTENT_SECTION'] & {
    display: none;
  }
  @include media('<ms') {
    font-size: var(--fs-13);
  }
}
