@use '@/theme/mixins' as *;

.baseLayer {
  width: auto;
  height: 100%;
  transition:
    opacity 500ms ease,
    filter 500ms;
  @include media('<ms') {
    body:has([data-active-phase='1']):not(
        :has([data-keyframe='Phase1.0'])
      )
      & {
      opacity: 0.75;
    }
    body:has([data-active-phase='2']):not(
        :has([data-keyframe='Phase2.0'])
      )
      & {
      opacity: 0.9;
    }
  }
}

.base {
  transition: opacity 500ms ease;
}
.gradients {
  opacity: 0;
  transition: opacity 500ms ease;
  [data-show-sections='true'] & {
    opacity: 1;
  }
}
