@use '@/theme/mixins' as *;

.section {
  position: relative;
  margin-top: -3.5vw;
  padding: calc(var(--gtr-72) + 3.5vw) 0 calc(var(--gtr-108) + 5vw);

  &:before {
    content: '';
    @include absolute-fill;
    background: var(--color-gray95);
    z-index: 0;
    clip-path: var(--clip-id-url);
  }
}
.heading {
  position: relative;
  font-size: var(--fs-60);
  margin: 0.5em var(--margin) 0;
  color: var(--color-goldShade1);
}

.body {
  position: relative;
  font-size: var(--fs-21);
  max-width: 72ch;
  margin: 0 var(--margin) var(--row-72);
  a {
    color: var(--color-goldShade1);
    @media (hover: hover) {
      &:hover {
        color: var(--color-goldShade3);
      }
    }
  }
}
