@use '@/theme/mixins' as *;

.container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;
  pointer-events: none;
}
.imageWrap {
  @extend %absolute-fill;
  z-index: 1;
  opacity: 1;
}
.image {
  min-width: 100%;
  min-height: 100%;
  height: 120%;
  width: 100%;
}
