@use '@/theme/mixins' as *;

.section {
  position: relative;
  z-index: 4;
  margin-top: -7vw;
  &:before {
    content: '';
    @include absolute-fill;
    clip-path: var(--clip-id-url);
    background: linear-gradient(to bottom right, #555, #000);
  }
}
.content {
  @include base-grid;
  padding: calc(7vw + var(--gtr-72)) 0 calc(5vw + var(--gtr-108));
  color: #fff;
  justify-items: center;
  text-align: center;
}
.heading {
  font-size: var(--fs-60);
  grid-column: 2 / -2;
  h2 {
    font-size: inherit;
    margin: 0.5em 0 0.25em;
  }
  em {
    display: inline-block;
    font-style: normal;
    color: var(--color-goldTint1);
  }
}
.body {
  grid-column: 2 / -2;
  font-size: var(--fs-21);
  padding-right: var(--gtr-36);
  p {
    margin: 0.5em 0;
  }
}
.cta {
  grid-column: 2 / -2;
  a {
    color: #fff;
    background: linear-gradient(
      to right,
      var(--color-goldTint1),
      var(--color-gold),
      var(--color-goldShade2)
    );
    font-size: var(--fs-21);
    margin-top: 2em;
    background-position: 100% 50%;
    background-size: 200%;
    // transition:
    //   color 300ms ease,
    //   background-size 500ms ease;
    @media (hover: hover) {
      &:hover {
        background-position: 0% 50%;
        color: #000;
      }
    }
  }
}
// .form {
//   display: none;
//   grid-column: span 5 / -2;
//   grid-row: 1 / 4;
//   align-self: flex-start;
//   margin-top: 4rem;
//   @include media('<m') {
//     margin-top: 2.5rem;
//     grid-column: span 6 / -2;
//     grid-row: auto;
//   }
//   @include media('<ms') {
//     grid-column: 2 / -2;
//   }
// }
