@use '@/theme/mixins' as *;

.section {
  position: relative;
  z-index: 4;
  margin-top: -7vw;
  &:before {
    content: '';
    @include absolute-fill;
    clip-path: var(--clip-id-url);
    background: linear-gradient(to bottom right, #555, #000);
  }
}
.content {
  @include base-grid;
  padding: calc(7vw + var(--gtr-72)) 0
    calc(5vw + var(--gtr-108) + var(--gtr-54));
  color: #fff;
}
.heading {
  font-size: var(--fs-60);
  grid-column: 2 / span 7;
  h2 {
    font-size: inherit;
    margin: 0.5em 0;
  }
  em {
    display: inline-block;
    font-style: normal;
    color: var(--color-goldTint1);
  }
  @include media('<m') {
    grid-column: 2 / -2;
  }
}
.body {
  grid-column: 2 / span 7;
  font-size: var(--fs-21);
  padding-right: var(--gtr-36);
  @include media('<m') {
    grid-column: 2 / span 6;
  }
  @include media('<ms') {
    grid-column: 2 / -2;
  }
}
.form {
  grid-column: span 5 / -2;
  grid-row: 1 / 4;
  align-self: flex-start;
  margin-top: 4rem;
  @include media('<m') {
    margin-top: 2.5rem;
    grid-column: span 6 / -2;
    grid-row: auto;
  }
  @include media('<ms') {
    grid-column: 2 / -2;
  }
}
