.section {
  position: relative;
  z-index: 4;
  margin-top: -7vw;
  &:before {
    content: '';
    ${absoluteFill}
    clip-path: url(#${clipId});
    background: linear-gradient(to bottom right, #555, #000);
  }
}
.content {
  ${baseGrid}
  padding: calc(7vw + var(--gutter-lg)) 0
  calc(5vw + var(--gutter-xlg) + var(--gutter-mlg));
  color: #fff;
}
.heading {
  font-size: var(--fs-60);
  grid-column: 2 / span 7;
  h2 {
    font-size: inherit;
    margin: 0.5em 0;
  }
  em {
    display: inline-block;
    font-style: normal;
    color: var(--color-goldTint1);
  }
  @include media('<m') {
    grid-column: 2 / -2;
  }
}
.body {
  grid-column: 2 / span 7;
  font-size: var(--fs-21);
  padding-right: var(--gutter-md);
  em {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    color: var(--color-goldTint1);
  }
  @include media('<m') {
    grid-column: 2 / span 6;
  }
  @include media('<ms') {
    grid-column: 2 / -2;
  }
}
.form {
  grid-column: span 5 / -2;
  grid-row: 1 / 4;
  align-self: flex-start;
  margin-top: 4rem;
  @include media('<m') {
    margin-top: 2.5rem;
    grid-column: span 6 / -2;
    grid-row: auto;
  }
  @include media('<ms') {
    grid-column: 2 / -2;
  }
}