@use '@/theme/mixins' as *;

.section {
  position: relative;
  display: grid;
  background: var(--background);
  color: var(--text-color);
  --accordion-color: var(--link-color);
  --accordion-color-hover: var(--link-color-hover);
  grid-auto-flow: dense;
  column-gap: var(--gtr-72);
  &[data-layout='LARGE'] {
    &:nth-child(odd) {
      grid-template-columns: 4fr 3fr;
    }
    &:nth-child(even) {
      grid-template-columns: 3fr 4fr;
    }
    @include media('<m') {
      &:nth-child(n) {
        grid-template-columns: 1fr;
      }
    }
  }
  &[data-layout='SMALL'] {
    &:nth-child(odd) {
      grid-template-columns: 2fr 1fr;
    }
    &:nth-child(even) {
      grid-template-columns: 1fr 2fr;
    }
    @include media('<m') {
      &:nth-child(n) {
        grid-template-columns: 1fr;
      }
    }
  }
  &[data-color-scheme='WHITE'] {
    --background: #fff;
    --text-color: var(--color-gray10);
    --divider-color: var(--color-gold);
    --link-color: var(--color-gray30);
    --link-color-hover: var(--color-goldShade1);
    --flourish-color: var(--color-gold);
    --quote-background-color: var(--color-gray95);
    --quote-color: var(--color-gray30);
  }
  &[data-color-scheme='LIGHT'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-gray95),
      var(--color-gray90)
    );
    --text-color: var(--color-gray10);
    --divider-color: var(--color-gold);
    --link-color: var(--color-gray30);
    --link-color-hover: var(--color-goldShade2);
    --flourish-color: var(--color-gold);
    --quote-background-color: var(--color-gray90);
    --quote-color: var(--color-gray30);
  }
  &[data-color-scheme='DARK'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-gray30),
      var(--color-gray10)
    );
    --text-color: #fff;
    --divider-color: var(--color-goldTint1);
    --link-color: currentColor;
    --link-color-hover: var(--color-goldShade1);
    --flourish-color: var(--color-goldTint2);
    --quote-background-color: #ffffff22;
    --quote-color: #fff;
  }
  &[data-color-scheme='GOLD'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-goldTint2),
      var(--color-goldShade1)
    );
    --text-color: var(--color-brownText);
    --divider-color: #fff;
    --link-color: currentColor;
    --link-color-hover: var(--color-goldShade3);
    --flourish-color: var(--color-goldShade3);
    --quote-background-color: var(--color-goldShade1);
    --quote-color: var(--color-brownText);
    --accordion-border-color: var(--color-goldShade1);
  }
}
.text {
  align-self: center;
  .section:nth-child(odd) & {
    grid-column: 1 / span 1;
    --zero-right: 0px;
  }
  .section:nth-child(even) & {
    grid-column: span 1 / -1;
    --zero-left: 0px;
  }

  margin: var(--row-72) var(--zero-right, var(--margin)) var(--row-72)
    var(--zero-left, var(--margin));
  @include media('<m') {
    margin: 1em var(--margin) var(--row-72);
    display: grid;
    justify-items: center;
  }
}
%divider {
  &:after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid var(--divider-color);
    width: 9rem;
    margin-top: 2rem;
  }
}
.heading {
  font-size: var(--fs-36);
  font-weight: 375;
  margin: 0.25em 0;
  .section[data-layout='LARGE'] & {
    font-size: var(--fs-48);
    font-weight: 350;
  }
  .section:not(:has(.subheading)) {
    @extend %divider;
  }
}
.title {
  font-size: var(--fs-21);
  margin: 0.25em 0;
  font-weight: 375;
  font-style: italic;
  .section[data-layout='LARGE'] & {
    font-size: var(--fs-24);
  }
  @extend %divider;
}
.body {
  a {
    color: var(--link-color);
    @media (hover: hover) {
      &:hover {
        color: var(--link-color-hover);
      }
    }
  }
  .section:last-child & {
    margin-bottom: 5vw;
  }
}
.accordion {
  margin: 2em 0;
  &:first-child {
    margin-top: 0;
  }
}
.button.button {
  display: block;
  width: fit-content;
  font-size: 90%;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  padding: 0.75em 1.5em;
  margin-top: 1.5em;
  margin-left: -0.333em;
  line-height: 1.125;
  font-weight: 425;
  border-radius: 2.625em;
  transition: transform 400ms var(--bezier-bounce);
  transform: scale3d(0.99, 0.99, 1);
  @media (hover: hover) {
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
  [data-color-scheme='WHITE'] &,
  [data-color-scheme='LIGHT'] & {
    background: linear-gradient(
      to right,
      var(--color-goldShade2),
      var(--color-gold)
    );
    color: #fff;
  }
  [data-color-scheme='DARK'] & {
    background: linear-gradient(
      to right,
      var(--color-goldTint2),
      var(--color-gold)
    );
    color: var(--color-brownText);
  }
  [data-color-scheme='GOLD'] & {
    background: #fff;
    color: var(--color-brownText);
  }
}
.linkList.linkList {
  margin-top: 1.5em;
  &:before {
    text-transform: uppercase;
    font-size: 90%;
    font-weight: 450;
  }
  li {
    margin: 0.5em 0;
    font-family: var(--ff-display);
    font-weight: 350;
  }
}
.headshotContainer {
  display: grid;
  position: relative;
  align-self: flex-start;
  @include media('<m') {
    grid-row: 1 / 2;
  }
}
.headshot {
  @include media('<m') {
    max-height: min(80vw, 25em);
    --object-fit: contain;
    margin-top: 1em;
  }
}
