@use '@/theme/mixins' as *;

.section {
  position: relative;
  min-height: 30vh;
  color: white;
  font-size: var(--fs-72);
  z-index: 2;
  overflow: hidden;
  padding: 1.5em 2em 2em;
  display: flex;
  flex-direction: column;
  @include media('<ls') {
    padding: 1.5em 1em;
  }
  @include media('<m') {
    padding: 1em 0.75em;
  }
  @include media('<s') {
    padding: 1em 0.5em;
  }
  &:before {
    content: '';
    @include absolute-fill;
    clip-path: var(--clip-id-url);
    background: linear-gradient(
      to bottom right,
      var(--color-gray10),
      var(--color-gray30)
    );
    z-index: -1;
  }
  // do not use swoosh if last child
  &:last-child:before {
    clip-path: none;
  }
  .heading {
    font-size: var(--fs-30);
    line-height: 1.25;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5em;
    text-align: center;
    em {
      font-style: normal;
      color: var(--color-goldShade1);
    }
  }
  .headingLineWrapper {
    display: flex;
    justify-content: center;
    .headingLine {
      width: 2em;
      border: 1px solid var(--color-gray30);
    }
  }
  .body {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em 0;
    .author {
      display: grid;
      align-items: flex-start;
      justify-content: stretch;
      grid-template-columns: 1fr 2fr;
      gap: 0.5em;
      @include media('<ms') {
        grid-template-columns: 1fr;
      }
      .photoWrapper {
        display: grid;
        width: 3em;
        max-width: 100%;
        justify-self: center;
        .photo {
          width: 100%;
          @include aspect-ratio(1);
          border-radius: 50%;
          overflow: hidden;
        }
      }
      .description {
        display: grid;
        gap: 0.1em;
        @include media('<ms') {
          justify-items: center;
        }
        .name {
          // text-transform: uppercase;
          font-size: var(--fs-27);
          font-weight: 400;
        }
        .title {
          text-transform: uppercase;
          font-size: var(--fs-15);
          font-weight: 400;
          margin-bottom: 0.5em;
        }
        .line {
          border: 1px solid var(--color-goldShade1);
          width: 1em;
        }
        .bio {
          font-size: var(--fs-18);
          font-weight: 400;
        }
      }
    }
  }
}
