@use '@/theme/mixins' as *;

.container {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 5;
  background-color: #fff;
  border-radius: 3em;
  filter: drop-shadow(0em 0.25em 0.25em #00000033);
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: dense;
  padding: 0.5em 1em;
  column-gap: 0.5em;
  text-transform: uppercase;
  color: var(--color-gray30);
  text-decoration: none;
  font-weight: 500;
  line-height: 1;
  transform: scale3d(0.99, 0.99, 1);
  transition: transform 400ms var(--bezier-bounce);
  span {
    &:nth-of-type(1) {
      color: var(--color-goldShade2);
    }
  }
  @media (hover: hover) {
    &:hover {
      transform: scale3d(1.05, 1.05, 1);
    }
  }
  @include media('<m') {
    display: none;
  }
}
.icon {
  grid-row: 1 / 3;
  align-self: center;
  height: 2.25em;
  width: auto;
}
