@use '@/theme/mixins' as *;

.section {
  @include base-grid;
  padding: var(--gtr-108) 0;
}
.logo {
  display: block;
  height: calc(2 * var(--fs-144));
  width: auto;
}
.heading {
  grid-column: 2 / -2;
  color: var(--color-goldShade1);
  font-size: var(--fs-84);
  margin: 0.25em 0 0;
}

.body {
  grid-column: 2 / -2;
  max-width: 72ch;
  color: #555;
  font-size: var(--fs-21);
}
