@use '@/theme/mixins' as *;
@use 'sass:color';

.container {
  position: relative;
  align-self: flex-start;
  z-index: 2;
  display: grid;
  &:has([data-variant='CONTENT_SECTION']) {
    align-self: stretch;
  }
}
.carousel {
  position: relative;
  z-index: 2;
  grid-column: 1 / -1;
  transition: height 500ms ease;
  --gtr: 0px;

  --slide-width: auto;
  --scroll-width: calc(var(--current-slide-width) + var(--gtr));
  --scroll-padding: 0px;
  --carousel-padding-left: calc(
    (var(--page-width, 100vw) - var(--first-slide-width)) / 2
  );
  --carousel-padding-right: calc(
    (var(--page-width, 100vw) - var(--last-slide-width)) / 2
  );
  --scroll-snap-align: center;
  &[data-is-ready='true'] {
    height: var(--height);
  }
  &[data-variant='CONTENT_SECTION'] {
    height: 100%;
  }
  .container[data-is-single='true'] & {
    --nav-width: 0px;
    > * {
      display: contents;
      > * {
        display: contents;
        > * {
          display: contents;
        }
      }
    }
  }
  @include media('<ms') {
    --gtr: 0.5rem;
  }
}
.carouselNav {
  --nav-width: var(--fs-48);
  --arrow-color: #fff;
  --arrow-color-hover: #fff;
  --arrow-color-disabled: #ffffff11;
  --button-bg-color: var(--color-gold);
  --button-bg-color-disabled: #88888822;
  --button-bg-color-hover: var(--color-goldShade1);
  .container[data-is-single='true'] & {
    display: none;
  }
  @include media('<ms') {
    --stroke-width: 1.5;
  }
}
.scrollArea {
  .carousel[data-variant='CONTENT_SECTION'] & {
    height: 100%;
  }
}
.carouselContent {
  .carousel[data-is-ready='false'] & {
    > *:not(:first-child) {
      display: none;
    }
  }
}
