@use '@/theme/mixins' as *;

.step {
  margin: 33lvh 0;
  min-height: 50lvh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-flow: dense;
  align-content: flex-start;
  column-gap: 1em;
  max-width: calc(50% - var(--gtr-72));
  color: var(--color-gray30);
  body:has([data-active-phase='2']) & {
    justify-self: flex-end;
    color: #fff;
    @include media('<ms') {
      justify-self: flex-start;
    }
  }
  @include media('<ms') {
    justify-self: flex-end;
    max-width: 60%;
    grid-template-columns: auto;
  }
}
.number {
  font-size: var(--fs-84);
  font-family: var(--ff-display);
  font-weight: 250;
  grid-row: 1 / 4;
  color: var(--color-gold);
  line-height: 1;
  @include media('<ms') {
    font-size: var(--fs-60);
    color: var(--color-goldShade2);
    body:has([data-active-phase='2']) & {
      color: var(--color-goldTint2);
    }
  }
}
.title {
  font-size: var(--fs-27);
  text-transform: uppercase;
  font-weight: 400;
  margin: 0.25em 0 0;
  border-bottom: 1px solid currentColor;
  padding-bottom: 0.333em;
  width: fit-content;
}
.description {
  p {
    margin: 0.5em 0;
  }
  @include media('<ms') {
    font-size: var(--fs-14);
  }
}
