@use '@/theme/mixins' as *;

.intro {
  @include base-grid;
  background: #fff;
  padding: var(--gtr-108) 0;
  h1 {
    grid-column: 2 / -2;
    font-size: var(--fs-84);
    color: var(--color-goldShade1);
    margin: 0;
  }
  p {
    grid-column: 2 / -2;
    max-width: 72ch;
    color: #555;
    font-size: var(--fs-21);
  }
}

.coaches {
  background: white;
  display: grid;
  position: relative;
  grid-template-columns: repeat(var(--column-count), 1fr);
  gap: var(--gtr-12);
  padding: var(--gtr-36);
  --column-count: 4;
  --max-width: calc(
    (
        100vw - var(--gtr-12) * (var(--column-count) - 1) - 2 *
          var(--gtr-36)
      ) /
      var(--column-count)
  );
  @include media('<ml') {
    --column-count: 3;
  }
  @include media('<ms') {
    --column-count: 2;
  }
}

.coachesHeading {
  display: block;
  position: relative;
  font-size: var(--fs-36);
  font-weight: 325;
  font-family: var(--ff-display);
  grid-column: 1 / -1;
  justify-self: center;
  text-align: center;
  margin-top: 0.25em;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  color: #333;
  background-image: linear-gradient(
    var(--color-gold),
    var(--color-gold)
  );
  background-size: 1.5em 3px;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

.conclusion {
  display: flex;
  position: relative;
  flex-direction: column;
  grid-column: 1 / -1;
  text-align: center;
  align-items: center;
  padding-bottom: calc(var(--gtr-72) + 5vw);
  margin-top: 2.5vw;
  padding-top: 2.5vw;
  p {
    position: relative;
    max-width: 70ch;
    line-height: 1.5;
  }
  &:before {
    content: '';
    @include absolute-fill;
    background: linear-gradient(to top right, #efefef, #f8f8f8);
    z-index: 0;
    clip-path: var(--clip-id-url);
  }
}

.conclusionHeading {
  margin-top: 2.5em;
  margin-bottom: 0;
}

.button {
  font-size: var(--fs-16);
  margin-top: 0.75em;
}
