@use '@/theme/mixins' as *;

.section {
  position: relative;
  min-height: 30vh;
  color: white;
  font-size: var(--fs-72);
  z-index: 2;
  overflow: hidden;
  background: linear-gradient(
    to top right,
    var(--color-gray30),
    var(--color-gray10)
  );
  padding: 0.75em 1em 2.5em 1em;
  @include media('<m') {
    padding: 0.75em 0.5em 2em 0.5em;
  }
}
.header {
  display: flex;
  margin-bottom: 0.8em;
  @include media('<m') {
    margin-bottom: 0.6em;
  }
  @include media('<s') {
    display: block;
    margin-bottom: 0.4em;
  }
  .heading {
    font-size: var(--fs-36);
    text-transform: uppercase;
    color: var(--color-gold);
    margin: 0;
    @include media('<s') {
      width: 100%;
      text-align: center;
    }
  }
  .headerLine {
    border-bottom: 1px solid var(--color-gold);
    flex: auto;
    margin-left: 0.1em;
    @include media('<s') {
      width: 100%;
      display: flex;
      margin-top: 0.1em;
      margin-left: 0;
    }
  }
}
.body {
  border-radius: 0.2em;
  display: flex;
  align-items: flex-start;
  gap: 1em;
  @include media('<m') {
    display: block;
  }
  .bodyLeft {
    max-width: 35%;
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    @include media('<m') {
      width: 100%;
      min-width: 100%;
    }
    .bodyImage {
      display: flex;
      justify-content: center;
      @include media('<m') {
        padding: 0.5em;
      }
    }
    .bodyText {
      @include media('<m') {
        padding: 0 0.5em;
      }
      > p {
        font-size: var(--fs-18);
        font-weight: 400;
        line-height: 1.5;
        margin: 0;
      }
    }
    .button {
      color: #fff;
      background: linear-gradient(
        to right,
        var(--color-goldTint1),
        var(--color-gold),
        var(--color-goldShade2)
      );
      font-size: var(--fs-21);
      margin-top: 1.5em;
      background-position: 100% 50%;
      background-size: 200%;
      @include media('<m') {
        margin-left: 1.5em;
      }
      @include media('<s') {
        margin-left: auto;
        margin-right: auto;
      }
      @media (hover: hover) {
        &:hover {
          background-position: 0% 50%;
          color: #000;
        }
      }
    }
    .coaches {
      display: none;
      @include media('<m') {
        display: flex;
        justify-content: space-around;
        gap: 0.2em;
      }
      @include media('<s') {
        flex-direction: column;
        gap: 0.3em;
      }
    }
  }
  .bodyRight {
    @include media('<m') {
      display: none;
    }
    flex: auto;
    display: flex;
    justify-content: space-around;
    gap: 0.2em;
  }
}
.coach {
  position: relative;
  @include media('<s') {
    display: flex;
    align-items: center;
  }
  .coachImage {
    @include media('<s') {
      display: flex;
      align-items: flex-start;
      aspect-ratio: 1 / 1;
      border-radius: 0.2em;
      overflow: hidden;
    }
  }
  .coachInfo {
    left: 0;
    bottom: 8%;
    width: 100%;
    display: flex;
    flex-direction: column;
    @include media('>=s') {
      position: absolute;
    }
    .coachName {
      font-size: var(--fs-21);
      font-weight: 400;
      margin: 0;
      text-align: center;
      padding: 0 0.5em;
    }
    .coachTitle {
      margin: 0;
      font-size: var(--fs-15);
      font-weight: 400;
      text-align: center;
      padding: 0 0.5em;
    }
    .coachInfoLine {
      width: 50%;
      margin: 0.1em auto;
      border-top: 1px solid var(--color-goldShade2);
    }
  }
}
