@use '@/theme/mixins' as *;

.container {
  position: relative;
  display: grid;
}
.carousel {
  grid-column: 1 / -1;
  width: 100vw;
  transition: height 500ms ease;
  --gtr: var(--gtr-36);
  --margin: calc(var(--gtr-108) * 0.75);
  --slide-width: #{widthInCols($count: 11)};
  height: var(--height);
  @include media('<ms') {
    --margin: var(--gtr-54);
  }
  @include media('<ms') {
    --slide-width: #{widthInCols($count: 12)};
  }
  &[data-is-single] {
    --slide-width: #{widthInCols($count: 12)};
  }
}
.carouselNav {
  --nav-width: var(--fs-48);
  --arrow-color: #fff;
  --arrow-color-hover: #fff;
  --arrow-color-disabled: #ffffff11;
  --button-bg-color: var(--color-gold);
  --button-bg-color-disabled: #88888822;
  --button-bg-color-hover: var(--color-goldShade1);
  .container[data-is-single='true'] & {
    display: none;
  }
  @include media('<ms') {
    --stroke-width: 1.5;
  }
}
