@use '@/theme/mixins' as *;

.section {
  position: relative;
  color: white;
  font-size: var(--fs-72);
  min-height: 20vh;
  z-index: 2;
  overflow: hidden;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: '';
    @include absolute-fill;
    clip-path: var(--clip-id-url);
    background-color: var(--color-gray90);
    z-index: -1;
  }
  @include media('<m') {
    padding: 0.75em;
  }
  @include media('<s') {
    padding: 0.5em 0.5em 1em;
  }
  .body {
    color: black;
    display: grid;
    .heading {
      font-size: var(--fs-42);
      line-height: 1.25;
      font-weight: 400;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      text-align: center;
      em {
        font-style: normal;
        color: var(--color-goldShade1);
      }
      @include media('<m') {
        font-size: var(--fs-36);
      }
    }
    .line {
      border: 1px solid var(--color-gold);
      width: 9rem;
      justify-self: center;
      @include media('<s') {
        width: 25%;
      }
    }
    .testimonials {
      padding-top: 0.5em;
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 0.75em 1.5em;
      @include media('<m') {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      .testimonial {
        @include media('<m') {
          &:not(:first-child) {
            display: none;
          }
        }
        > p {
          font-size: var(--fs-21);
          line-height: 1.25;
          margin: 0;
          font-family: var(--ff-display);
          font-weight: 400;
        }
        .attribution {
          font-size: var(--fs-16);
          line-height: 1.25;
          color: black;
          margin-top: 1em;
          .attributionName {
            display: block;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 0.25em;
          }
          > p {
            margin: 0;
            font-weight: 400;
            line-height: 1.25;
            font-style: italic;
            opacity: 0.75;
          }
        }
      }
    }
  }
}
