@use '@/theme/mixins' as *;

.section {
  position: relative;
  display: grid;
  padding: var(--row-72) 0;
  background: var(--background);
  color: var(--text-color);
  &:last-child {
    padding-bottom: calc(5vw + var(--row-72));
  }
  &[data-color-scheme='WHITE'] {
    --background: #fff;
    --text-color: var(--color-gray10);
    --divider-color: var(--color-gold);
  }
  &[data-color-scheme='LIGHT'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-gray95),
      var(--color-gray90)
    );
    --text-color: var(--color-gray10);
    --divider-color: var(--color-gold);
  }
  &[data-color-scheme='DARK'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-gray30),
      var(--color-gray10)
    );
    --text-color: #fff;
    --divider-color: var(--color-goldTint1);
  }
  &[data-color-scheme='GOLD'] {
    --background: linear-gradient(
      to bottom right,
      var(--color-goldTint2),
      var(--color-goldShade1)
    );
    --text-color: var(--color-brownText);
    --divider-color: #fff;
  }
}
%divider {
  &:after {
    content: '';
    position: relative;
    display: block;
    border-bottom: 2px solid var(--divider-color);
    width: 9rem;
    margin-top: 2rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
.heading {
  font-size: var(--fs-36);
  font-weight: 375;
  margin: 0.25em var(--margin) 0.5em;
  text-align: center;
  justify-self: center;
  @extend %divider;
  .section:not(:has(.body)) & {
    margin-bottom: 1.5em;
  }
}
.body {
  width: min(80ch, 100vw - 2 * var(--margin));
  justify-self: center;
  margin-bottom: 2em;
  p {
    margin: 0.5em 0;
  }
  a {
    color: var(--link-color);
    @media (hover: hover) {
      &:hover {
        color: var(--link-color-hover);
      }
    }
  }

  .button {
    display: block;
    width: fit-content;
    font-size: 90%;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.1em;
    padding: 0.75em 1.5em;
    margin-top: 1.5em;
    margin-left: -0.333em;
    line-height: 1.125;
    font-weight: 425;
    border-radius: 2.625em;
    transition: transform 400ms var(--bezier-bounce);
    transform: scale3d(0.99, 0.99, 1);
    @media (hover: hover) {
      &:hover {
        transform: scale3d(1.05, 1.05, 1);
      }
    }
    .section[data-color-scheme='WHITE'] &,
    .section[data-color-scheme='LIGHT'] & {
      background: linear-gradient(
        to right,
        var(--color-goldShade2),
        var(--color-gold)
      );
      color: #fff;
    }
    .section[data-color-scheme='DARK'] & {
      background: linear-gradient(
        to right,
        var(--color-goldTint2),
        var(--color-gold)
      );
      color: var(--color-brownText);
    }
    .section[data-color-scheme='GOLD'] & {
      background: #fff;
      color: var(--color-brownText);
    }
  }
  .linkList {
    margin-top: 1.5em;
    &:before {
      text-transform: uppercase;
      font-size: 90%;
      font-weight: 450;
    }
    li {
      margin: 0.5em 0;
      font-family: var(--ff-display);
      font-weight: 350;
    }
  }
}
.carousel {
  grid-column: 1 / -1;
  width: 100vw;
  --gtr: var(--gtr-12);
  --margin: calc(var(--gtr-108) * 0.75);
  --slide-width: #{widthInCols($count: 3)};
  @include media('<ml') {
    --slide-width: #{widthInCols($count: 4)};
  }
  @include media('<ms') {
    --margin: var(--gtr-54);
    --slide-width: #{widthInCols($count: 5)};
  }
  @include media('<s') {
    --margin: var(--gtr-54);
    --slide-width: #{widthInCols($count: 6)};
  }
}
.carouselNav {
  --nav-width: var(--fs-48);
  --arrow-color: #fff;
  --arrow-color-hover: #fff;
  --arrow-color-disabled: #ffffff11;
  --button-bg-color: var(--color-gold);
  --button-bg-color-disabled: #88888822;
  --button-bg-color-hover: var(--color-goldShade1);
  @include media('<ms') {
    --stroke-width: 1.5;
  }
}
.thumbnail {
  min-height: 100%;
}
.grid {
  display: grid;
  gap: var(--gtr-12);
  grid-template-columns: repeat(4, 1fr);
  margin: 0 var(--margin);
  @include media('<ml') {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media('<ms') {
    grid-template-columns: 1fr 1fr;
  }
}
