@use '@/theme/mixins' as *;

.section {
  position: relative;
  z-index: 2;
  margin-top: -5.75vw;
  background-color: #333;
  background: linear-gradient(to bottom right, #555, #000);
  overflow: hidden;
}
.content {
  padding: calc(7vw + var(--gtr-108)) 0 calc(11.5vw + var(--gtr-72));
  @include base-grid;
  color: #fff;
}
.heading {
  grid-column: span 6 / -2;
  font-size: var(--fs-60);
  align-self: flex-end;
  justify-self: flex-start;
  max-width: 16ch;
  h2 {
    font-size: inherit;
    margin-bottom: 0.333em;
  }
  em {
    font-style: normal;
    color: var(--color-goldTint1);
  }
  @include media('<ms') {
    grid-column-start: 2;
  }
}
.body {
  grid-column: span 6 / -2;
  font-size: var(--fs-21);
  @include media('<ml') {
    grid-column-start: span 6;
  }
  @include media('<ms') {
    grid-column-start: 2;
    margin-bottom: 2.5em;
  }
}
.button {
  background: linear-gradient(
    to right,
    var(--color-goldTint1),
    var(--color-gold),
    var(--color-goldShade2)
  );
  font-size: var(--fs-21);
  margin-top: 2em;
  background-position: 100% 50%;
  background-size: 200%;
  color: #fff;
  @media (hover: hover) {
    &:hover {
      background-position: 0% 50%;
      color: #000;
    }
  }
}
.background {
  @include absolute-fill;
  clip-path: inset(0 0 0 0);
  // clip-path: var(--clip-id-url);
}
.imageWrap {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50vw;
  height: 100vh;
  /* filter: drop-shadow(-4rem 2rem 6rem rgba(0, 0, 0, 0.5)); */
  @include media('<ms') {
    width: 90vw;
  }
}
.image {
  width: 100%;
  height: 100%;
  @include media('<ms') {
    filter: contrast(0.5) brightness(0.333);
  }
}

.quote {
  grid-column: span 7 / -1;
  font-size: var(--fs-16);
  color: #ffffffcc;
  margin-top: 3em;

  figure {
    padding: 1.5em var(--margin) 2em 3em;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.01) 100%
    );
    margin: 0;
  }
  blockquote {
    position: relative;
    padding: 0;
    margin: 0;
    font-style: italic;
    font-family: var(--ff-display);
    :first-child {
      margin-top: 0;
    }
    &:before {
      content: '“';
      display: block;
      font-weight: 600;
      font-size: 3.125em;
      line-height: 0;
      font-style: normal;
      position: absolute;
      top: 0.55em;
      left: -0.55em;
      opacity: 0.25;
    }
    :last-child {
      &:after {
        content: '”';
        display: inline-block;
        font-weight: 600;
        font-size: 3em;
        line-height: 0;
        font-style: normal;
        transform: translate(0.125em, 0.375em);
        opacity: 0.25;
      }
    }
  }
  p {
    font-weight: 400;
  }
  figcaption {
    text-transform: uppercase;
    font-size: var(--fs-14);
    opacity: 0.75;
    &:before {
      content: '–';
      display: inline-block;
    }
  }
  @include media('<ml') {
    grid-column-start: span 6;
  }
  @include media('<ms') {
    grid-column-start: 2;
    margin-bottom: 2.5em;
  }
}
